{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center text-warning">Login Page</h1>
        <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}

                <input class="btn btn-primary btn-md" type="submit" value="Login Here" />
                <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p>Not a member? <a href="{% url 'registration_register' %}">Register Here</a>!</p>
	</div>
</div>

{% endblock %}