{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Enter new password{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        {% if validlink %}
        <h1>Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Change my password">
        </form>
        {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}